* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: monospace;
	overflow-x: hidden;
	background: #313233;
	color: white;
}

.page {
	min-height: 100vh;
	padding: 50vh 0;
}

.section {
	display: flex;
}

.parallax {
	flex-grow: 1;
	height: 80vh;
}

.parallax-layer {
	&.transparent {
		opacity: .5;
	}
}

.parallax-layer-fixed {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
